.card {
	padding: 80px 64px 96px;
	background: linear-gradient(180deg, #ffffff6e 0%, var(--white) 100%);
	backdrop-filter: blur(36px);
	border: 3px solid var(--white);
	border-radius: 33px;
	min-width: 1200px;
	min-height: 850px;
}
.card h1 {
	font-size: 35px;
	text-align: center;
	margin-bottom: 64px;
	font-weight: 700;
}
