*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: #335566;
	--primary-hover: #214456;
	--active: #37defb;
	--error: #ca163a;
	--light: #e0e5ec;
	--grey: #a3b1c6;
	--white: #fff;
	--box-shadow: 3px 3px 7px #c2cbd9;
}
#root {
	width: 100%;
}
body {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 100%;
	color: var(--primary);
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(90deg, #d0e1e6 0%, #c5c9cd 100%);
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0 15px;
}
body:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(652 / 1080 * 100%);
	width: 100%;
	background: url("./assets/logo.svg") bottom 40px left 40px/ 142px no-repeat, rgba(255, 255, 255, 0.63);
	z-index: -1;
}
h2 {
	text-align: center;
	line-height: 125%;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background-color: rgba(255, 255, 255, 0.63);
	box-shadow: var(--box-shadow);
}

nav a {
	--primary: var(--grey);
	color: var(--primary);
	text-decoration: none;
	transition: all 300ms;
	position: relative;
	font-weight: 600;
}
nav a:before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	bottom: -5px;
	left: 50%;
	background: var(--primary);
	transition: all 300ms;
}
nav a:hover {
	color: var(--primary-hover);
}
nav a:hover:before {
	left: 5%;
	width: 90%;
	background: var(--primary-hover);
}
nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
nav li.active a {
	--primary: var(--primary);
}
.row {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 40px;
}
.col {
	display: flex;
	gap: 24px;
}
.controls {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.change {
	align-self: flex-end;
	margin-bottom: 20px;
	cursor: pointer;
	opacity: 0.5;
	transition: all 300ms;
}
.change:hover {
	opacity: 1;
}
.historyLabel {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
}
.backLink {
	color: inherit;
	text-decoration: none;
	position: relative;
}
.backLink:before {
	content: "";
	position: absolute;
	top: calc(50% - 4px);
	left: -20px;
	width: 16px;
	height: 8px;
	transform: scaleX(-1);
	background: url("./assets/arrow-right.svg") center/contain no-repeat;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border: 1px solid var(--light);
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: var(--light);
}
::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: var(--primary);
}

@media (max-width: 1200px) {
	.row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.col:first-child {
		margin-bottom: 30px;
		gap: 21px;
	}
	.col:last-child {
		gap: 60px;
	}
	div[class*="Select"] {
		width: 300px;
	}
	.controls {
		max-width: 660px;
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.row {
		margin-bottom: 20px;
	}
	div[class*="Select"] {
		width: 100px;
	}
	div[class*="Input"] {
		width: 240px;
	}
	.col:last-child {
		gap: 0;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 475px;
		justify-content: center;
	}
	.col:last-child > *:first-child {
		margin-bottom: 20px;
	}
	.col:first-child {
		margin-bottom: 20px;
		gap: 11px;
	}
	.controls {
		justify-content: center;
	}
	table {
		min-width: 600px;
		white-space: nowrap;
	}
	h2 {
		font-size: 18px;
	}
	.backLink {
		padding-left: 6px;
	}
	.backLink:before {
		top: calc(50% - 3px);
		left: -10px;
		width: 12px;
		height: 6px;
	}
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
}

@media (max-width: 576px) {
	.controls {
		flex-wrap: wrap;
		max-width: 240px;
	}
}
