*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: #335566;
	--primary-hover: #214456;
	--active: #37defb;
	--error: #ca163a;
	--light: #e0e5ec;
	--grey: #a3b1c6;
	--white: #fff;
	--box-shadow: 3px 3px 7px #c2cbd9;
}
body {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 100%;
	color: var(--primary);
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(90deg, #d0e1e6 0%, #c5c9cd 100%);
	overflow: hidden;
}
body:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(652 / 1080 * 100%);
	width: 100%;
	background: url("./assets/logo.svg") bottom 40px left 40px/ 142px no-repeat, rgba(255, 255, 255, 0.63);
	z-index: -1;
}
.row {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 40px;
}
.col {
	display: flex;
	gap: 24px;
}
.controls {
	display: flex;
	justify-content: flex-end;
}
.change {
	align-self: flex-end;
	margin-bottom: 20px;
	cursor: pointer;
	opacity: 0.5;
	transition: all 300ms;
	order: 2;
}
.change:hover {
	opacity: 1;
}
